<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <title>Legendary Palm Tree</title>
    <style>
    </style>
</head>
<body>
<div class="jumbotron">
    <img src="/static/palm-tree.png">
    <h1>Legendary Palm Tree!</h1>
    <p>Better analysis -> more vacation</p>
    <p></p>
    <div class="btn-group">
        <a class="btn btn-primary btn-lg" href="/authors/">Authors</a>
        <a class="btn btn-primary btn-lg" href="/tech/">Tech</a>
    </div>
</div>

</body>
</html>