<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <title>Title</title>
    <style>
.link {
  stroke: #ccc;
}
.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

    </style>
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">{{node['name']}}  ({{node['idx']}})</div>
    <div class="panel-body">
        <p>{{node['affil']}}</p>
        <p>{{node['terms']}}</p>
        <ul class="list-inline">
            {% for n in neighbors %}
            <li><a href="/authors/{{n}}">{{n}}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div><a href="/authors/{{node['idx']}}.d3tree">Link to Radial Tree</a></div>
    <div id="graph"></div>

</div>

</body>
</html>
<script src="//d3js.org/d3.v3.min.js"></script>
<script>

var width = 960,
    height = 500

var svg = d3.select("#graph").append("svg")
    .attr("width", width)
    .attr("height", height);

var force = d3.layout.force()
    .gravity(0.05)
    .distance(100)
    .charge(-100)
    .size([width, height]);

d3.json("/authors/{{node['idx']}}.nodejson", function(error, json) {
  if (error) throw error;

  force
      .nodes(json.nodes)
      .links(json.links)
      .start();

    var link = svg.selectAll(".link")
        .data(json.links)
        .enter().append("line")
        .attr("class", "link");

    var node = svg.selectAll(".node")
        .data(json.nodes)
        .enter().append("g")
        .attr("class", "node")
        .call(force.drag);

    node.append("svg:circle")

        .attr("r", "6");

    node.append("a")
        .attr("xlink:href", function(d) {return "/authors/" + d.idx})
        .append("circle")
        .style("fill", function(d) {
            if(d.idx == {{node['idx']}}) {
                return "blue";
            } else {
                return "green";
            }})
        .attr("r","6");

  node.append("text")
      .attr("dx", 12)
      .attr("dy", ".35em")
      .text(function(d) { return d.name });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  });
});

</script>
